
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: $header-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
    background-color:$body-color;
    font-family:sans-serif;
    font-size:20px;
    color:$text-color;
    line-height:1;
    min-height:100vh;
    max-width:100vw;
    position:relative;
    padding-bottom:50px;
}
#main-nav {
    background-color:$header-color;
}
.user-thumbnail {
	height:50px;
	width:50px;
	border-radius:50%;
}
.oleo {
  font-family: 'Oleo Script', cursive;
}
#brand-name {
  font-size:30px;
  padding:15px;
  text-decoration:underline;
}
#brand-name .capital {
  font-size:40px;
}
.card {
  background-color:#555;
}
#footer {
  position:absolute;
  bottom:0px;
  width:100vw;
  max-width:100%;
  height:50px;
  font-size:15px;
  color:white;
  text-align:center;
}
#footer a {
  color: rgb(163, 163, 163)
}
#footer p {
  padding:15px 0px 15px 0px;
  margin:0px;
  width:100%;
}
#brand-name-footer .capital {
  font-size:20px;
}
