#user-image {
    height:200px;
    width:200px;
    border:1px solid red;
    border-radius:50%;
    display:block;
    margin:auto;
}
#personal-info-wrapper {
    text-align:center;
}
#invite-player-row.hidden {
    display:none;
}
#gm-players, #invite-player-row{
    margin-top:15px;
}
