@import 'variables';

.thread {
	cursor:pointer;
}
.thread:hover {
	// box-shadow:-2px 2px 3px #AAA;
	// transform: TranslateX(2px) TranslateY(-2px);
}
.thread-date, .thread-user, .thread-reply-count {
	margin:0px;
}
.thread-meta-icon {
	margin:0px 3px;
}
.panel {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	box-shadow:0px 0px 3px #AAA;
	margin:15px 0px;
}
#categories-dropdown>.dropdown-menu {
	width:100%;
}
p.trending-thread {
	font-size:15px;
	margin-bottom:10px;
	line-height:15px;
}
p.trending-thread a{
	color:#000;
	text-decoration:underline;
}
