@import 'variables';

.thread {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	box-shadow:0px 0px 3px #444;
	margin:15px 0px;
}

.thread-date, .thread-user, .thread-title, .thread-category {
	margin:0px;
}
.reply {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	box-shadow:0px 0px 3px #444;
}
.hidden {
	display:none;
}
#new-reply {
	width:100%;
	background-color:#ffffff5c;
	font-size:16px;
}
.panel {
	border:1px solid grey;
	border-radius:5px;
	padding:5px;
	box-shadow:0px 0px 3px #444;
	margin:15px 0px;
}
.favourite-wrapper {
	color:#999;
	padding:15px;
}
.favourite-wrapper.favourited {
	color:#A33;
}
.favourite-wrapper > i:hover {
	text-shadow:0px 0px 3px black;
}
