.thread {
  cursor: pointer;
}

.thread:hover {
  -webkit-box-shadow: -2px 2px 3px #444;
          box-shadow: -2px 2px 3px #444;
  -webkit-transform: TranslateX(2px) TranslateY(-2px);
          transform: TranslateX(2px) TranslateY(-2px);
}

.thread-date,
.thread-user {
  margin: 0px;
}

.panel {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px #444;
          box-shadow: 0px 0px 3px #444;
  margin: 15px 0px;
}

#categories-dropdown > .dropdown-menu {
  width: 100%;
}

