.thread {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px #444;
          box-shadow: 0px 0px 3px #444;
  margin: 15px 0px;
}

.thread-date,
.thread-user,
.thread-title,
.thread-category {
  margin: 0px;
}

.reply {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px #444;
          box-shadow: 0px 0px 3px #444;
}

.best-reply {
  background-color: #8CF1AA;
}

.hidden {
  display: none;
}

#new-reply {
  width: 100%;
  background-color: #ffffff5c;
  font-size: 16px;
}

.panel {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 3px #444;
          box-shadow: 0px 0px 3px #444;
  margin: 15px 0px;
}

p.trending-thread {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 15px;
}

p.trending-thread a {
  color: black;
}

